.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 48px;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
    backdrop-filter: blur(10px); /* Apply a blur effect */
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    z-index: 1000;
    
  }
  
  .navbar-left {
    display: flex;
    /* align-items: center; */
  }
  
  .navbar-right {
    display: flex;
  }
  
  .logo {
    width: 150px; /* Adjust according to your logo size */
    height: auto;
    margin-right: 10px;
  }
  
  .nav-button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 50px;
    font-family: "Big Shoulders Stencil Display", sans-serif;
    font-size: 30px;
  }
  
  /* Adjust styling as needed */
  